<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PFinalClub</title>
        <!-- 引入 layui.css -->
    <link href="//unpkg.com/layui@2.7.6/dist/css/layui.css" rel="stylesheet">
    <!-- 引入 layui.js -->
    <script src="//unpkg.com/layui@2.7.6/dist/layui.js"></script>
</head>
<body>
<div class="layui-card" style="width: 60%;margin: 0 auto">
	   <div class="layui-card-header">建设时间</div>
	   <div class="layui-card-body">
	     <ul class="layui-timeline">
	        <li class="layui-timeline-item">
	          <i class="layui-icon layui-timeline-axis"></i>
	          <div class="layui-timeline-content layui-text">
	            <div class="layui-timeline-title">2018年，layui 5.0 发布。并发展成为中国最受欢迎的前端UI框架（期望）</div>
	          </div>
	        </li>
	        <li class="layui-timeline-item">
	          <i class="layui-icon layui-timeline-axis"></i>
	          <div class="layui-timeline-content layui-text">
	            <div class="layui-timeline-title">2017年，layui 里程碑版本 2.0 发布</div>
	          </div>
	        </li>
	        <li class="layui-timeline-item">
	          <i class="layui-icon layui-timeline-axis"></i>
	          <div class="layui-timeline-content layui-text">
	            <div class="layui-timeline-title">2016年，layui 首个版本发布</div>
	          </div>
	        </li>
	        <li class="layui-timeline-item">
	          <i class="layui-icon layui-timeline-axis"></i>
	          <div class="layui-timeline-content layui-text">
	            <div class="layui-timeline-title">2015年，layui 孵化</div>
	          </div>
	        </li>
	        <li class="layui-timeline-item">
	          <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-timeline-axis"></i>
	          <div class="layui-timeline-content layui-text">
	            <div class="layui-timeline-title">更久前，轮子时代。维护几个独立组件：layer等</div>
	          </div>
	        </li>
	      </ul>
	   </div>
	 </div>
</body>
</html>